# Clickhouse Configuration
# Copy this file to .env and fill in your actual values

# Required:
TARGET_CLICKHOUSE_HOST=""

# Required:
TARGET_CLICKHOUSE_PORT=""

# Required:
TARGET_CLICKHOUSE_USERNAME=""

# Required:
TARGET_CLICKHOUSE_PASSWORD=""

TARGET_CLICKHOUSE_TARGET_SCHEMA=""

TARGET_CLICKHOUSE_SECURE=""

TARGET_CLICKHOUSE_CA_CERT=""

TARGET_CLICKHOUSE_SEND_RECEIVE_TIMEOUT=""

TARGET_CLICKHOUSE_UPLOAD_AT=""

TARGET_CLICKHOUSE_TABLE_CONFIG=""

TARGET_CLICKHOUSE_REPLICATION_METHOD=""

TARGET_CLICKHOUSE_OPTIMIZE=""
